body:has(#qa_box),
#qa_box.card {
  background: unset;
  width: 100%;
}
#qa_box.card #qa {
  width: 100%;
}

html:is(.iphone, ipad) img,
#qa_box.card img {
  max-width: 100%;
  max-height: 95vh;
}

#qa_box.card :is(img, svg) {
  vertical-align: baseline;
}

:where(.firefox input) {
  border: solid 1px rgb(118, 118, 118);
  border-radius: 3px;
  padding: 2px;
}

#qa_box.card code {
  color: inherit;
  font-size: 1em;
  font-family: courier, monospace;
}

#qa_box.card hr {
  opacity: 1;
}

a.replay-button.soundLink {
  display: inline-flex;
}

html:is(.iphone, ipad) body {
  text-align: start;
}

#qa_box.card input:focus-visible {
  outline: auto 1px rgb(229, 151, 0);
  outline-offset: 0px;
}
.firefox #qa_box.card input:focus-visible {
  outline: solid 2px rgb(229, 151, 0);
  outline-offset: -2px;
  /* border-color: rgb(229, 151, 0); */
}

/* desktop reviewer css */

hr {
  background-color: #737373;
  margin: 1em 0;
  border: none;
  height: 1px
}

#typeans {
  width: 100%;
  box-sizing: border-box;
  line-height: 1.75;

  font-size: 20px; /* element.style */
}

code#typeans {
  white-space: pre-wrap;
  font-variant-ligatures: none
}

.typeGood {
  background: #afa;
  color: #000
}

.typeBad {
  color: #000;
  background: #faa
}

.typeMissed {
  color: #000;
  background: #ccc
}